html {
    font-size: 5vw;
    /* Black Background */
    background-color: black;
    /* White Text */
    color: white;
}
button, input {
    font-size: 5vw; /* 25% of the table width */
    width: 100%;    
    background-color: black;
    color: white;
    border: 1px solid white;
    /* margin: 2px 5px 5px 2px; */
}
.base-table {
    width: 100%; /* 50% of the table width */
    font-size: 5vw;
    /* border: 1px solid black; */
    /* Padding */
    /*padding: 5px 5px 5px 5px;  top, right, bottom, left */

}

.button-table {
    font-size: 5vw;
}

.text-input {
    font-size: 5vw; /* 25% of the table width */
}

.active-status {
    color: red;
}

.qr-container {
    width: 80%; /* Ensure container takes full width of its parent */
}

.qr-container img {
    width: 100%; /* Makes the image fill the container */
    height: auto; /* Maintains aspect ratio */
}

